// Vars
$primaryColor: #8DB5D1;
$secondaryColor: #00487B;
$primaryText: white;
$secondaryText: #2B2B2B;
$borderRadius: 10px;
$borderWidth: 3px;

@font-face {
    font-family: LittleCaeser;
    src: url('/fonts/LittleCaesar.ttf');
  }